extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  each item, index in items
    b #{item.name}
    p
      img(src=item.image)
    li
      each author in item.authorList
        p=author
      each link in item.authorLinks
        b=link
      a(href='/detail' + item.href) Detail
    hr
